            <div class="section text-gray" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">                            
                        </div>                                              
                        <div class="col-sm-6">
                            <p><small>Template by <a href=" visualdialog.org" class="external"> visualdialog.org</a>.</small></p>
                        </div>
                    </div>
                </div>
            </div>
