<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="challenges in causality, causality, challenges, machine learning, statistical learning">

  <link rel="shortcut icon" href="{{ "/challenges/img/icon.jpg" | prepend:site.baseurl }}">



  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="Fundamental Challenges in Causality"/>
  <meta property="og:url" content="https://quarter-on-causality.github.io/challenges"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:site_name" content="Fundamental Challenges in Causality"/>
  <meta property="og:image" content=""/>
  <meta property="og:image:url" content=""/>

  <!--Twitter Card Stuff-->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="Fundamental Challenges in Causality"/>
  <meta name="twitter:image" content="quarter-on-causality.github.io/challenges/img/icon.jpg">
  <meta name="twitter:url" content="quarter-on-causality.github.io/challenges"/>
  <meta name="twitter:description" content="{{site.description}}"/>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "/challenges/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/challenges/css/main.css?2" | prepend:site.baseurl }}" media="screen,projection">

  <!-- Font Awesome -->
  <script src="{{ "/static/js/jquery.min.js?1" | prepend:site.baseurl }}"></script>
  <script src="https://kit.fontawesome.com/ff6e9b10da.js" crossorigin="anonymous"></script>
  <script src="{{ "/static/js/moment.min.js?1" | prepend:site.baseurl }}"></script>
  <script src="{{ "/static/js/main.js?2" | prepend:site.baseurl }}"></script>
</head>
