<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="causal inference, causal analysis, statistical analysis, causality">

  <link rel="shortcut icon" href="{{ "/analysis/img/icon.jpg" | prepend:site.baseurl }}">



  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="Thematic Quarter on Causality - Opening Session"/>
  <meta property="og:url" content="https://quarter-on-causality.github.io/opening"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:site_name" content="Thematic Quarter on Causality - Opening Session"/>
  <meta property="og:image" content=""/>
  <meta property="og:image:url" content=""/>

  <!--Twitter Card Stuff-->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="Thematic Quarter on Causality - Opening Session"/>
  <meta name="twitter:image" content="https://quarter-on-causality.github.io/analysis/img/icon.jpg">
  <meta name="twitter:url" content="https://quarter-on-causality.github.io/opening"/>
  <meta name="twitter:description" content="{{site.description}}"/>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "/analysis/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/analysis/css/main.css?1" | prepend:site.baseurl }}" media="screen,projection">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ff6e9b10da.js" crossorigin="anonymous"></script>
</head>
