<style>
  #workshops-header {
    border: none;
    display: block;
    width: 100%;
    background: #eaebea;
  }
  #workshops-header ul {
    display: block;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-align: center;
  }
  #workshops-header ul li {
    display: inline-block;
    list-style: none;
  }
  #workshops-header ul li a {
    display: block;
    text-decoration: none;
    border: none;

    padding: 0 1.7em;
    height: 3.2em;
    line-height: 3.2em;
    vertical-align: middle;

    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    color: #444;
  }
  @media (max-width:1000px) {
    #workshops-header ul li a {
      font-size: 0.8em;
    }
  }
  #workshops-header ul li a:hover {
    background: #dddedd;
    color: #000;
    transition: .5s;
  }
</style>

<div id="workshops-header">
  <ul>
    <li><a href="/">🏠</a></li>
    <li>|</li>
    <li><a href="/analysis/">When Causal Inference meets Statistical Analysis</a></li>
    <li>|</li>
    <li><a href="/challenges/">Fundamental Challenges in Causality</a></li>
    <li>|</li>
    <li><a href="/practice/">Causality in Practice</a></li>
    <li>|</li>    
  </ul>
</div>
